.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  cursor: pointer;
}

.App-header {
  background-color: #ffffff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #556ea6;
}

.App-link {
  color: #333333;
}
